html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f6f0eb;
    margin-bottom: 60px;
}

.navbar-custom {
    background-color: #231F20;  
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #f6f0eb;
}